{% extends "layouts/application.html.tera" %}
{% block content %}
<h1>Reset password</h1>
{% if notice %}<p>{{ notice }}</p>{% endif %}
<form method="post" action="/users/password">
  <label>Email<br><input type="email" name="email" required></label><br>
  <button type="submit">Send reset instructions</button>
</form>
{% endblock %}
