{% extends "layouts/application.html.tera" %}
{% block content %}
<h1>Change password</h1>
<form method="post" action="/users/password">
  <input type="hidden" name="_method" value="patch">
  <label>New password<br><input type="password" name="password" required></label><br>
  <label>Confirm password<br><input type="password" name="password_confirmation" required></label><br>
  <input type="hidden" name="reset_token" value="">
  <button type="submit">Update password</button>
</form>
{% endblock %}
