<form method="post" action="{% if {singular} is defined and {singular}.id %}/{plural}/{{ {singular}.id }}{% else %}/{plural}{% endif %}">
{% if {singular} is defined and {singular}.id %}<input type="hidden" name="_method" value="patch">{% endif %}
{form_fields}  <button type="submit">{% if {singular} is defined and {singular}.id %}Update{% else %}Save{% endif %}</button>
</form>
